@using LearnMusico.Entities.ValueObject
@model LoginViewModel


@{
    ViewBag.Title = "LearnMusico Giriş Sayfası";
}
<link href="~/css/valdiation-summary.css" rel="stylesheet" />
<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Giriş</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
@using (Html.BeginForm())
{
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Hoşgeldiniz</h3>
                        <!-- Login Form -->
                        @Html.ValidationSummary(false)
                        <div class="login-form">

                            <div class="form-group">
                                <span class="form-group-addon"><i class="fa fa-user"></i></span>
                                @*<label for="exampleInputEmail1">Kullanıcı Adı</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kullanıcı Adı">*@
                                @Html.DisplayNameFor(model => model.Username)
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                            </div>

                            <div class="form-group">
                                <span class="form-group-addon"><i class="fa fa-lock"></i></span>
                                @*<label for="exampleInputPassword1">Şifre</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre">*@
                                @Html.DisplayNameFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre", type = "password" })
                            </div>

                            <button type="submit" class="btn oneMusic-btn mt-30">Giriş Yap</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}