@using LearnMusico.Entities
@model MusicaUser

@{
    ViewBag.Title = "Profilim";
}
<section class="breadcumb-area bg-img bg-overlay" style="  background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
        <div class="container">

            <div class="row">
                <h2>@ViewBag.Title</h2>
                <hr />
            </div>

            <div class="row">

                <div class="col-md-2">
                    <img src="~/img/user/@Model.ProfileImageFilename" class="img-circle" width="128" height="128" />
                </div>

                <div class="col-md-10">
                    <h3>@(Model.Name + " " + Model.Surname)</h3>
                    <br />
                    <h5><b>@Html.DisplayNameFor(model => model.Username) : </b></h5> <h6>@Model.Username</h6>
                    <h5><b>@Html.DisplayNameFor(model => model.Email) : </b></h5> <h6>@Model.Email</h6>
                    <h5><b>@Html.DisplayNameFor(model => model.CV) : </b></h5><h6><a href="~/document/@Model.CV" target="_blank">@Model.CV</a></h6>
                    <h5><b>@Html.DisplayNameFor(model => model.About) : </b></h5><h6>@Model.About</h6>
                    <br />

                </div>

            </div>
        </div>

</section>