@using LearnMusico.ViewModels
@model MessageUserViewModel


@{
    ViewBag.Title = "Mesajlar";
}

<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">



        <div class="row">
            <div class="col-md-12">
                <h3>Mesajlar</h3>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <table class="table table-condensed table-striped table-hover text-center">

                    <thead>
                        <tr>
                            <!--th*4>{kolon adı}-->
                            <th class="text-center">Tarih</th>
                            <th class="text-center">Kimden</th>
                            <th class="text-center">Konu</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--tr*4>(td>{10.02.2008})+(td>{muratbaseren})+(td>lorem3)+(td>button[class="btn btn-info btn-xs"]>span[class="glyphicon glyphicon-eye-open"]^button[class="btn btn-danger btn-xs"]>span[class="glyphicon glyphicon-trash"])-->

                        @foreach (var message in Model.Messages)
                        {
                           
                                var user = message.MessageReplies.OrderBy(x => x.AddedDate).FirstOrDefault().MusicaUser;
                           

                            <tr>
                                <td>@message.AddedDate.ToShortDateString()</td>
                                <td>@(string.Format("{0} {1} ({2})",user.Name,user.Surname,user.Username))</td>
                                <td>
                                    @message.Subject
                                </td>
                                <td>
                                    <a href="/Message/MessageReplies/@message.Id" class="btn btn-info btn-xs">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <button class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <br /><br />
                                <a href="#" data-toggle="modal" data-target="#messagebox" class="btn btn-success btn-sm">
                                    <i class="fa fa-plus"></i> Yeni Mesaj
                                </a>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>

        @using (Html.BeginForm("SendMessage","Message"))
        {
            <div class="modal fade" id="messagebox" tabindex="-1" role="dialog" aria-labelledby="messagebox-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="messagebox-label">Yeni Mesaj</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                @Html.DropDownList("ToUserId",Model.Users, new { @class = "form-control" })
                                @*<div>
                                    <select class="form-control valid" id="messageto" name="messageto">
                                        <option value="14">Genel</option>
                                        <option value="15">Ürün Hakkında</option>
                                        <option value="16">Sipariş Hakkında</option>
                                    </select>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="messageto" data-valmsg-replace="true"></span>
                                </div>*@
                            </div>

                            <div class="form-group">
                                @Html.TextBox("Subject","",new  {placeholder ="Konu", @class="form-control"})                          
                            </div>

                            <div class="form-group">
                                @Html.TextArea("MessageBody","", new { placeholder = "Mesaj Metni", @class = "form-control" })
                                @*<textarea cols="30" rows="5" name="messagebody" id="messagebody" placeholder="Mesaj Metni" class="form-control"></textarea>*@
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-send"></i> Gönder
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</section>