@model LearnMusico.Entities.ArticleCategory

@{
    ViewBag.Title = "Kategori Detay";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Yazı Kategori</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUsername)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUsername)
            </dd>

        </dl>

    </div>
    <div class="col-md-8 col-md-offset-2">
        <p>
            <a href="/ArticleCategory/Index/@Model.Id" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>Düzenle
                </a>
          @*  @Bootstrap.LinkButton("/Category/Index/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")*@
            <a href="/ArticleCategory/Index" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-arrow-left"></span>Geri Dön
                </a>
           @* @Bootstrap.LinkButton("/Category/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön!")*@
        </p>
    </div>
</div>

