@model LearnMusico.ViewModels.LessonPriceViewModel
@{
    ViewBag.Title = "Özel Dersler";
}
<link href="~/css/valdiation-summary.css" rel="stylesheet" />

<section class="breadcumb-area bg-img bg-overlay" style="  background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
                <!-- Grid row -->
                <div class="row">

                    <div class="col-lg-3">
                        <div class="blog-sidebar-area">

                            @Html.Partial("_PartialLessonCategory")
                            <br />
                            @using (Html.BeginForm("AllSpecialLesson", "SpecialLessonPrice", FormMethod.Get))
                            {
                                <label class="text-black">Egitmen Ara:</label>
                                @Html.TextBox("searchUserName")
                                <button type="submit" class="btn btn-primary btn-sm">Ara</button>
                            }

                            @if (Model.musicaUser != null)
                            {
                                <div class="sidebar-box">
                                    <img src="~/img/user/@Model.musicaUser.ProfileImageFilename" alt="Image" class="img-fluid mb-4 w-50 rounded-circle">
                                    <h3 class="text-black">@(Model.musicaUser.Name+" "+Model.musicaUser.Surname)</h3>
                                    <p>@Model.musicaUser.About</p>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <p color="#FF0000">@ViewBag.Search</p>
                                </div>
                            }


                        </div>

                    </div>

                    <div class="col-lg-9">

                        <div class="row">
                            @foreach (var item in Model.LessonPrices)
                            {


                            <div class="col-sm-4 col-lg-4 col-md-4 mb-4">

                                <!-- Single Post Start -->
                                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                                    <!-- Post Thumb -->
                                    <div class="blog-post-thumb mt-30">
                                        <a>
                                            <img class="img-fluid z-depth-1" src="~/img/lessonprice/@item.ImageFilePath" alt="">
                                        </a>
                                    </div>

                                    <!-- Blog Content -->
                                    <div class="blog-content">
                                        <!-- Post Title -->
                                        <a href="#" class="post-title">@item.InstrumentName</a>
                                        <!-- Post Meta -->
                                        <div class="post-meta d-flex mb-30">
                                            <p ><strong>@(item.Teacher.Name+" "+item.Teacher.Surname) (@item.Teacher.Username)</strong></p>
                                        </div>
                                        <!-- Post Excerpt -->
                                        <p><strong>Kategori: </strong>@item.InstrumentCategory.Title</p>
                                        <p><strong>Açıklama: </strong>@Html.Raw(item.Description)</p>
                                        <p><strong>Adres: </strong>@item.Address</p>
                                        <p><strong>Fiyat: </strong>@item.Price TL</p>
                                        @*<a href="#" class="pull-right">Read More<i class="fa fa-angle-double-right"></i></a>*@
                                    </div>
                                </div>
                            </div>
                            }

                        </div>
                    </div>
                </div>

    </div>
</section>
