@model LearnMusico.Entities.Instrument

@{
    ViewBag.Title = "Enstrüman Ekle";
}
<link href="~/css/valdiation-summary.css" rel="stylesheet" />
<script src="~/Themes/ckeditor/ckeditor.js"></script>
<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">

        @using (Html.BeginForm("Create", "Instrument", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Enstrüman</h4>
            <hr />
            @Html.ValidationSummary(false)
            <div class="form-group">
                @Html.LabelFor(model => model.InstrumentName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InstrumentName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, 7, 156, new { htmlAttributes = new { @id = "Description", @class = "form-control", @rows = "200" } })
                    <script>CKEDITOR.replace("Description");</script>
                    <script>CKEDITOR.config.htmlEncodeOutput = false;</script>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstrumentCategoryId, "Enstrüman Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("InstrumentCategoryId", null, htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

            <div class="col-md-5">
                <i class="fa fa-info">&nbsp;</i>
                <span><i>Lütfen mp4 formatı kullanın.</i></span>
                <input type="file" name="VideoUrlPath" id="VideoUrlPath" class="form-control" /><br />

            </div>

            <div class="col-md-5">
                <i class="fa fa-info">&nbsp;</i>
                <span><i>Lütfen mp3 formatı kullanın.</i></span>
                <input type="file" name="AudioUrlPath" id="AudioUrlPath" class="form-control" /><br />

            </div>

            <div class="col-md-5">
                <i class="fa fa-info">&nbsp;</i>
                <span><i>Lütfen jpg, jpeg ya da png formatı kullanın.</i></span>
                <input type="file" name="ImageFilePath" id="ImageFilePath" class="form-control" /><br />

            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</section>