@model LearnMusico.Entities.Instrument

@{
    ViewBag.Title = "Enstrüman Kaldır";
}


<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Silmek istediğinize emin misiniz?</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.InstrumentCategory.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InstrumentCategory.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.InstrumentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InstrumentName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <p>
                    <a href="/Instrument/MyInstrumentDetails/@Model.Id" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit">&nbsp;</i>Düzenle
                    </a>
                    @*  @Bootstrap.LinkButton("/Category/Index/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")*@

                </p>
            </div>
        </div>

    </div>
</section>




