@model LearnMusico.Entities.Instrument

@{
    ViewBag.Title = "Enstrüman Detay";
}

<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">

        <div>
            <h4>Enstrüman</h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentCategory.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstrumentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>                  
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.InstrumentCategory.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.InstrumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>                  
                </tr>

            </table>
            @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.InstrumentCategory.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InstrumentCategory.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InstrumentName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InstrumentName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>*@
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
        </p>
    </div>
</section>