@model IEnumerable<LearnMusico.Entities.Instrument>
@{
    ViewBag.Title = "Enstrüman Bilgileri";
}

<link href="~/css/valdiation-summary.css" rel="stylesheet" />
<section class="breadcumb-area bg-img bg-overlay" style="  background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Enstrümanlar</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="blog-sidebar-area">
                    @using (Html.BeginForm("InstrumanAll", "Instrument", FormMethod.Get))
                    {

                        @Html.TextBox("searchUserName")
                        <button type="submit" class="btn btn-primary">Ara</button>
                    }


                    @Html.Partial("_PartialInstrumentCategory")
                </div>
                             
            </div>


            <div class="col-lg-9 col-md-9 blog-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 blog-content">
                        @foreach (var item in Model)
                        {
                            <h4 class="text-center">@item.InstrumentName</h4>
                            <img width="680" height="370" src="~/img/instrument/@item.ImageFilePath" alt="">

                            <br>
                            <p class="lead">
                                @item.Description
                            </p>

                            <br>
                            <div class="blog-post-thumb mt-30">
                                <video width="780" height="370" controls>
                                    <source src="~/videos/instrument/@item.VideoUrlPath" type="video/mp4">
                                </video>
                            </div>
                            <br />
                            if(!string.IsNullOrEmpty(item.AudioUrlPath))
                            {
                            <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                                <div class="song-play-area">
                                    <div class="song-name">
                                        <p>Ses oynatıcı</p>
                                    </div>
                                    <audio preload="auto" controls>
                                        <source src="~/audio/instrument/@item.AudioUrlPath">
                                    </audio>
                                </div>
                            </div>
                            }
                            <p class="text-right">Yazar: <a href="#">@(item.Owner.Name+" "+item.Owner.Surname)</a></p>
                            <br />
                        }
                    </div>
                </div>




            </div>



        </div>

    </div>
</section>