@model IEnumerable<LearnMusico.Entities.Instrument>

@{
    ViewBag.Title = "Enstrüman Bilgilerim";
}


<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>
                    @* @Bootstrap.LinkButton("/Note/Create", "primary", string.Empty, string.Empty, "plus", " Yeni")*@
                    <a href="/Instrument/Create" class="btn btn-primary">
                        <i class="fa fa-plus"></i>Enstrüman Ekle
                    </a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.InstrumentCategory.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InstrumentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstrumentCategory.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstrumentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td width="150">
                                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal_comment" data-note-id="@item.Id">
                                    <i class="fa fa-comment"></i>
                                </button>
                                <a href="/Instrument/Edit/@item.Id" class="btn btn-warning btn-sm">
                                    <i class="fa fa-edit"></i>Düzenle
                                </a>
                                @*@Bootstrap.LinkButton("/Note/Edit/" + item.Id, "warning", "btn-xs", "Düzenle", "edit", string.Empty)*@
                                <a href="/Instrument/Details/@item.Id" class="btn btn-info btn-sm">
                                    <i class="fa fa-search"></i>Detaylar
                                </a>
                                @*@Bootstrap.LinkButton("/Note/Details/" + item.Id, "info", "btn-xs", "Detaylar", "search", string.Empty)*@
                                <a href="/Instrument/Delete/@item.Id" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>Kaldır
                                </a>
                                @*@Bootstrap.LinkButton("/Note/Delete/" + item.Id, "danger", "btn-xs", "Kaldır", "trash", string.Empty)*@
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</section>


    

