@model LearnMusico.Entities.InstrumentCategory

@{
    ViewBag.Title = "Kategori Detay";
}

<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Enstrüman Kategori</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedUsername)
                    </dd>

                </dl>

            </div>
            <div class="col-md-8 col-md-offset-2">
                <p>
                    <a href="/InstrumentCategory/Index/@Model.Id" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i>Düzenle
                    </a>
                    @*  @Bootstrap.LinkButton("/Category/Index/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")*@
                    <a href="/InstrumentCategory/Index" class="btn btn-default btn-sm">
                        <i class="fa fa-arrow-left"></i>Geri Dön
                    </a>
                    @* @Bootstrap.LinkButton("/Category/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön!")*@
                </p>
            </div>
        </div>

    </div>
</section>