@model IEnumerable<LearnMusico.Entities.InstrumentCategory>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <p>
            @*@Bootstrap.LinkButton("/Category/Create", "primary", string.Empty, string.Empty, "plus", " Yeni")*@
            <a href="/InstrumentCategory/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Ekle
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUsername)
                    </td>
                    <td>
                        <a href="/InstrumentCategory/Edit/@item.Id" class="btn btn-warning btn-sm" title="Edit">
                            <span class="glyphicon glyphicon-edit"></span>Düzenle
                        </a>
                        @* @Bootstrap.LinkButton("/Category/@*Edit/" + item.Id, "warning", "btn-xs", "Düzenle", "edit", string.Empty)*@*
                        <a href="/InstrumentCategory/Details/@item.Id" class="btn btn-info btn-sm" title="Details">
                            <span class="glyphicon glyphicon-th-list"></span>Detaylar
                        </a>
                        @* @Bootstrap.LinkButton("/Category/Details/" + item.Id, "info", "btn-xs", "Detaylar", "search", string.Empty)*@
                        <a href="/InstrumentCategory/Delete/@item.Id" class="btn btn-danger btn-sm" title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>Kaldır
                        </a>
                        @* @Bootstrap.LinkButton("/Category/Delete/" + item.Id, "danger", "btn-xs", "Kaldır", "trash", string.Empty)*@
                    </td>
                </tr>
            }

        </table>

    </div>

</div>



