@model IEnumerable<LearnMusico.Entities.Article>

@{
    ViewBag.Title = "Haber/Yazı";
}

<link href="~/css/valdiation-summary.css" rel="stylesheet" />
<section class="breadcumb-area bg-img bg-overlay" style="  background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">


        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        @foreach (var item in Model)
                        {


                            <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                                <!-- Post Thumb -->
                                <div class="blog-post-thumb mt-30">
                                    <a href="#"><img src="~/img/article/@item.ImageFileName" alt=""></a>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <span>@item.ModifiedOn.ToString("dd")</span>
                                        <span>@item.ModifiedOn.ToString("Y") </span>
                                    </div>
                                </div>
                                <br />
                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <!-- Post Title -->
                                    <a href="#" class="post-title">@item.Title</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta d-flex mb-30">
                                        <p class="post-author"><a href="#">@(item.MusicaUser.Name+" "+item.MusicaUser.Surname) (@(item.MusicaUser.Username))</a></p>
                                        <p class="tags">@item.SubjectType</p>
                                    </div>
                                    <!-- Post Excerpt -->
                                    <p>@Html.Raw(item.Description)</p>

                                </div>
                            </div>

                        }
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="blog-sidebar-area">
                            @using (Html.BeginForm("AllArticle", "Article",FormMethod.Get))
                            {

                                @Html.TextBox("deger")
                                <button type="submit" class="btn btn-primary">Ara</button>
                            }
                            

                            @Html.Partial("_PartialArticleCategory")

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>


