@model LearnMusico.Entities.Article

@{
    ViewBag.Title = "Haber/Yazı Detay";
}

<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">

        <div>
            <h4>Haber/Yazı</h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ArticleCategory.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>                  
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ArticleCategory.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SubjectType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>                    
                </tr>

            </table>

                @*<hr />
            <h5>@Html.DisplayNameFor(model => model.ArticleCategory.Title):</h5> <h6> @Html.DisplayFor(model => model.ArticleCategory.Title)</h6>
            <h5>@Html.DisplayNameFor(model => model.SubjectType):</h5> <h6> @Html.DisplayFor(model => model.SubjectType)</h6>
            <h5>@Html.DisplayNameFor(model => model.Description):</h5> <h6> @Html.DisplayFor(model => model.Description)</h6>*@
        </div>
        <p>
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
        </p>

    </div>
</section>