@model IEnumerable<LearnMusico.Entities.Article>

@{
    ViewBag.Title = "Yazılar";
}

<section class="breadcumb-area bg-img bg-overlay" style="   background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">
        

        <p>
            @Html.ActionLink("Yazı Ekle", "Create",null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ArticleCategory.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleCategory.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) 
                        @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) 
                        @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
</div>
</section>