@using LearnMusico.Entities
@using LearnMusico.Models
@using LearnMusico.ViewModels

@model  SharingCommentViewModel

@{
    MusicaUser user = CurrentSession.User;
}
<div>
    <div class="blog-post-thumb mt-30 justify-content-center ml-15">
        <video width="720" height="400" controls>
            <source src="~/videos/sharing/@Model.sharing.VideoUrlPath" type="video/mp4">
        </video>
    </div>

    <div class="blog-content justify-content-center">
        <h3>@Model.sharing.Title</h3>
        <div class="media-body mb-30">
            <div>
                <div class="row">
                    <div class="col-md-6"> <h6>@(Model.sharing.Owner.Name+" "+Model.sharing.Owner.Surname)</h6>  </div>

                    <div class="col-md-6"> <h6 class="text-right"> (@Model.sharing.CreatedOn.ToString("dd.MM.yy"))</h6></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        @Model.sharing.Description
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*@foreach (Comment item in Model.comment)
    {*@
@*<div class="pt-5">
        <h3 class="mb-5">6 Comments</h3>
        <ul class="comment-list">
            <li class="comment">
                <div class="vcard bio">
                    <img src="~/img/bg-img/person_2.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Jacob Smith</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                </div>
            </li>

            <li class="comment">
                <div class="vcard bio">
                    <img src="~/img/bg-img/person_3.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Chris Meyer</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                </div>
            </li>

            <li class="comment text-right image-right">
                <div class="vcard2 bio">
                    <img src="~/img/bg-img/person_1.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Jean Doe</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>

            </li>
        </ul>
    </div>*@
@*}*@
<div class="modal-header">
    <h4 class="modal-title">Yorumlar</h4>
</div>

@foreach (Comment item in Model.comment)
{
    <ul class="list-unstyled">
        <li class="media">
            <img class="mr-3" src="~/img/user/@item.Owner.ProfileImageFilename" width="64" height="64">
            <div class="media-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="mt-0 mb-1">@(item.Owner.Name+" "+item.Owner.Surname)(@item.ModifiedUsername)</h6><br />
                        </div>
                        <div class="col-md-6">
                            <h6 class="text-right">
                                <i class="fa fa-calendar-times">@item.ModifiedOn.ToString("dd.MM.yy")</i>
                            </h6>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-9" id="comment_text_@item.Id" contenteditable="false">@item.Text</span>

                        <div class="col-md-3">
                            @if (user != null && user.Id == item.Owner.Id)
                            {
                                <div class="pull-right">
                                    <small>
                                        <button type="button" class="btn btn-warning btn-sm" data-edit-mode="false" onclick="doComment(this,'edit_clicked',@item.Id,'#comment_text_@item.Id');">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="doComment(this,'delete_clicked',@item.Id);">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </small>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </li>

        @*<li class="media my-4">
                <img class="mr-3" src="..." alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media my-4">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <img class="ml-3" src="..." alt="Generic placeholder image">
            </li>*@
    </ul>
}


@if (user != null)
{
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" id="new_comment_text" class="form-control" placeholder="yorumunuz..">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="doComment(this,'new_clicked',-1);">
                        <i class="fa fa-send"></i> Gönder
                    </button>
                </span>
            </div>
        </div>
    </div>
}