@model IEnumerable<LearnMusico.Entities.Sharing>

@{
    ViewBag.Title = "Paylaşımlar";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4">


                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <!--Content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="text-center">Paylaşım</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <!--Body-->
                                <div class="modal-body mb-0 p-0 ml-30">

                                    <div class="blog-post-thumb mt-30">
                                        <video width="720" height="400" controls>
                                            <source src="~/videos/sharing/@item.VideoUrlPath" type="video/mp4">
                                        </video>
                                    </div>

                                    <div class="blog-content justify-content-center">
                                        <a href="#" class="">@item.Title</a>
                                        <div class="post-meta d-flex mb-30">
                                            <p class="post-author"><a href="#">@item.ModifiedUsername</a></p> <br />
                                            <p class="post-author ml-2"><a href="#">(@item.ModifiedOn.ToString("dd.MM.yy"))</a></p>
                                            @*<p class="tags"><a href="#">Yorumlar</a></p>*@
                                        </div>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                                <!--Footer-->
                                <!--<div class="modal-footer justify-content-center">
                                    <p class="tags">Yorumlar</p>                                  
                                </div>-->
                            </div>
                            <!--/.Content-->

                        </div>
                    </div>

                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a>
                                <img class="img-fluid z-depth-1" src="~/img/sharing/@item.ImageUrlPath" alt="video"
                                     data-toggle="modal" data-target="#modal1">
                            </a>
                        </div>
                        
                        <div class="blog-content">
                            <a href="#" class="post-title" data-toggle="modal" data-target="#modal1">@item.Title</a>

                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">@item.ModifiedUsername</p>
                                <p class="tags"><a href="#">Yorumlar</a></p>
                            </div>

                                @if (string.IsNullOrEmpty(item.Description) == false && item.Description.Length > 70)
                                {
                                    <p>@(item.Description.Substring(0, 80) + "...")</p>
                                    <p class="pull-right">
                                        <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@item.Id" class="btn btn-default btn-sm">devamı</a>
                                    </p>
                                }
                                else
                                {
                                    <p>@item.Description</p>
                                }

                            </div>
                    </div>

                </div>
            }



            <!--<div class="col-lg-4 col-md-6 mb-4">


        <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">-->
            <!--Content-->
            <!--<div class="modal-content">-->
            <!--Body-->
            <!--<div class="modal-body mb-0 p-0">

        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                    allowfullscreen></iframe>
        </div>

    </div>-->
            <!--Footer-->
            <!--<div class="modal-footer justify-content-center">
        <span class="mr-4">Spread the word!</span>
        <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>-->
            <!--Twitter-->
            <!--<a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>-->
            <!--Google +-->
            <!--<a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>-->
            <!--Linkedin-->
            <!--<a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

        </div>

    </div>-->
            <!--/.Content-->
            <!--</div>
    </div>

    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">-->
            <!-- Post Thumb -->
            <!--<div class="blog-post-thumb mt-30">
        <a>
            <img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg" alt="video"
                 data-toggle="modal" data-target="#modal6">
        </a>
    </div>-->
            <!-- Blog Content -->
            <!--<div class="blog-content">-->
            <!-- Post Title -->
            <!--<a href="#" class="post-title" data-toggle="modal" data-target="#modal6">5 Festivals you shouldn’t miss this summer</a>-->
            <!-- Post Meta -->
            <!--<div class="post-meta d-flex mb-30">
        <p class="post-author">Bd Admin</p>
        <p class="tags"><a href="#">Comments</a></p>
    </div>-->
            <!-- Post Excerpt -->
            <!--<p>Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis metus sem, ac sodales dui lobortis. Pellentesque sit amet velit a libero viverra porta non eu justo. Vivamus mollis metus sem, ac sodales dui lobortis.</p>
                <a href="#" class="pull-right">Read More<i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>





    </div>-->


        </div>

    </div>
</section>
