@model IEnumerable<LearnMusico.Entities.Sharing>

@{
    ViewBag.Title = "Paylaşımlar";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a>
                                <img class="img-fluid z-depth-1" src="~/img/sharing/@item.ImageUrlPath" alt="video">
                            </a>
                        </div>

                        <div class="blog-content">
                            <a href="#" class="post-title" data-toggle="modal" data-target="#modal1">@item.Title</a>

                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">@item.ModifiedUsername</p>
                                <p class="tags"><a href="#" data-toggle="modal" data-target="#modal_comment" data-sharing-id="@item.Id">Yorumlar</a></p>
                            </div>

                            @if (string.IsNullOrEmpty(item.Description) == false && item.Description.Length > 70)
                            {
                                <p>@(item.Description.Substring(0, 80) + "...")</p>
                                <p class="pull-right">
                                    <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-sharing-id="@item.Id" class="btn btn-default btn-sm">devamı</a>
                                </p>
                            }
                            else
                            {
                                <p>@item.Description</p>
                            }

                        </div>
                    </div>
                    
                </div>
            }
            </div>

    </div>
</section>

@BootstrapT.ModalPopup(id:"modal_comment",title:"Paylaşım")
<script>

    var sharingid = -1;
    var modalCommentBodyId = "#modal_comment_body";

    $(function ()
    {
        
        $('#modal_comment').on('show.bs.modal', function (e) {
            var btne = $(e.relatedTarget);
            var sharingid = btne.data("sharing-id")

            $(modalCommentBodyId).load("/Comment/ShowSharingComments/" + sharingid);
                

        })
    });

    function doComment(btn, e, commentid, spanid) {

        var button = $(btn);
        var mode = button.data("edit-mode");
        
        if (e === "edit_clicked") {
            if (!mode) {
                button.data("edit-mode", true);
                button.removeClass("btn-warning");
                button.addClass("btn-success");
                var btnI = button.find("i");
                btnI.removeClass("fa-edit");
                btnI.addClass("fa-check-circle");

                $(spanid).addClass("editable");
                $(spanid).attr("contenteditable", true);
            }
            else {
                button.data("edit-mode", false);
                button.addClass("btn-warning");
                button.removeClass("btn-success");
                var btnI = button.find("i");
                btnI.addClass("fa-edit");
                btnI.removeClass("fa-check-circle");

                $(spanid).removeClass("editable");
                $(spanid).attr("contenteditable", false);
                $(spanid).focus();

                var txt = $(spanid).text();

                $.ajax({
                    method: "POST",
                    url: "/Comment/Edit/" + commentid,
                    data: { text: txt }
                }).done(function (data) {
                    if (data.result) {
                        //yorumlar partial tekrar yüklenir..
                        $(modalCommentBodyId).load("/Comment/ShowSharingComments/" + sharingid);
                    }
                    else {
                        alert("Yorum Güncellenemedi.");
                    }
                }).fail(function () {
                    alert("Sunucu ile bağlantı kurulamadı.");
                });
            }

        }
        else if (e === "delete_clicked")
        {
            var dialog_res = confirm("Yorum Silinsin mi ?");
            if (!dialog_res) return false;

            $.ajax({
                method: "GET",
                url: "/Comment/Delete/" + commentid,


            }).done(function (data) {
                if (data.result) {
                    //yorumlar partial tekrar yüklenir..
                    $(modalCommentBodyId).load("/Comment/ShowSharingComments/" + sharingid);
                }
                else
                {
                   alert("Yorum Silinemedi.");
                }
            }).fail(function () {
                alert("Sunucu ile bağlantı kurulamadı.");
            });
        }
    }


</script>