@model IEnumerable<LearnMusico.Entities.Sharing>

@{
    ViewBag.Title = "Paylaşımlar";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4">

                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a>
                                <img class="img-fluid z-depth-1" src="~/img/sharing/@item.ImageUrlPath" alt="video">
                            </a>
                        </div>

                        <div class="blog-content">
                            <a href="#" class="post-title" data-toggle="modal" data-target="#modal1">@item.Title</a>

                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">@item.ModifiedUsername</p>
                                <p class="tags"><a href="#" data-toggle="modal" data-target="#modal_comment" data-note-id="@item.Id">Yorumlar</a></p>
                            </div>

                            @if (string.IsNullOrEmpty(item.Description) == false && item.Description.Length > 70)
                            {
                                <p>@(item.Description.Substring(0, 80) + "...")</p>
                                <p class="pull-right">
                                    <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@item.Id" class="btn btn-default btn-sm">devamı</a>
                                </p>
                            }
                            else
                            {
                                <p>@item.Description</p>
                            }

                        </div>
                    </div>
                    
                </div>
            }
            </div>

    </div>
</section>

@BootstrapT.ModalPopup(id:"modal_comment",title:"Paylaşım")
<script>
    $(function () {
        $('#modal_comment').on('show.bs.modal', function (e) {
            $("#modal_comment_body").load("/Comment/ShowSharingComments");

        });
    });


</script>