@model IEnumerable<LearnMusico.Entities.Sharing>

@{
    ViewBag.Title = "Paylaşımlar";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>@ViewBag.Title</h2>
    </div>
</section>

<section class="blog-area section-padding-100">
    <div class="container">
        <!-- Grid row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-4" data-sharing-id="@item.Id">

                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            <a>
                                <img class="img-fluid z-depth-1" src="~/img/sharing/@item.ImageUrlPath" alt="video">
                            </a>
                        </div>

                        <div class="blog-content">
                            <div class="row">
                                <div class="col-md-10">
                                    <a href="#" class="post-title" data-toggle="modal" data-target="#modal1">@item.Title</a>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-right">
                                        <button class="btn btn-light btn-xs" type="button" data-liked="false" data-sharing-id="@item.Id">
                                            <i class="far fa-heart like-star"></i>&nbsp;
                                            <span class="like-count">@item.LikeCount</span>
                                        </button>
                                    </p>
                                </div>
                            </div>




                            <div class="post-meta d-flex mb-30">
                                <p class="post-author">@item.Owner.Username</p>
                                <p class="tags"><a href="#" data-toggle="modal" data-target="#modal_comment" data-sharing-id="@item.Id">Yorumlar</a></p>
                            </div>

                            @if (string.IsNullOrEmpty(item.Description) == false && item.Description.Length > 70)
                            {
                                <p>@(item.Description.Substring(0, 80) + "...")</p>
                                <p class="pull-right">
                                    <a href="#" data-toggle="modal" data-target="#modal1" data-sharing-id="@item.Id" class="btn btn-default btn-sm">devamı</a>
                                </p>
                            }
                            else
                            {
                                <p>@item.Description</p>
                            }

                        </div>
                    </div>

                </div>
            }
        </div>

    </div>
</section>

@BootstrapT.ModalPopup("modal_comment", title: "Paylaşım")

<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/like.js"></script>